body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.form-result {
  text-align: center;
}

.form-fields {
  background: white;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

.form-fields form {
  width: 250px;
  margin: 0 auto;
}

.standard-button {
  background: #1DA3A6;
  color: white;
  width: 100%;
  border-radius: .25rem;
  padding: 4%;
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 1%;
  font-weight: bold;
  border: none;
}

.standard-button:hover {
  background: darkcyan;
}

.pagination-button {
  border: 1px solid #110e3d;
  background: white;
  color: #110e3d;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 5px;
}

.pagination-button:hover, .active {
  background: #110e3d;
  color: white;
}

.message-error {
  font-size: xx-small;
  color: firebrick;
  height: 10px;
}

h1 {
  color: #110e3d;
  padding: 1%;
}

li {
  width: 100%;
  list-style: none;
  text-align: center;
  color: #d1529e;
  padding: 1%;
  box-sizing: border-box;
  border-radius: .25rem;
}

ul {
  padding: 0;
}

li:nth-child(even) {
  background: #f3f3f3
}

li:nth-child(odd) {
  background: white
}

* {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1DA3A6;
  background-color: #fff;
  border: 1px solid #1DA3A6;
  border-radius: .25rem;
  margin: 1%;
  padding: 2%;
  box-sizing: border-box;
}
